.paper {
    width: 200px;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    position: relative;
    overflow: hidden;
  }
  .paper-preview{
    height: 100%;
  }
 
  .paper-text {
    width: 90%;
    height: 80%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    font-family: cursive;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
  }
  
  .eye {
    width: 50px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .paper:hover .eye {
    opacity: 1;
  }

  